# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build directory
dist

# Dependency directories
packages/*/node_modules/
node_modules/

# Optional npm cache directory
.npm
